include ../_bd.pug
-  
  n = 0;
.goods
  .goods__top
    h1.goods__title Women’s Clothing
    .goods__filtration
      button.goods__filter._active New
      button.goods__filter Recommended
  .goods__grid
    each good in goods
      if n < 12
        if (good.sex === 'w')
          article.goods__card
            .goods__card-image
              button.goods__icon-favorite._icon-heart(aria-label='add ' + good.name + ' to favorite')
              img.goods__card-img(src=good.img alt=good.name)
            .goods__card-bottom
              .goods__card-text
                h2.goods__card-title
                  a.goods__card-link(href='/') #{good.name}
                p.goods__card-brand #{good.brand}
              .goods__card-price $#{good.price}        
          -
            n++;